.nav {
  margin-right: 2rem;
}

.Link {
  margin-right: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.75px;
  text-decoration: none;
}

.Link :last-child {
  margin-right: 0;
}
